.business {
  padding: 5rem;
  background-color: #f4f0f8;
}
.business h1 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
  letter-spacing: -2px;
  color: #232536;
  padding-bottom: 1rem;
}
.business p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: center;
  color: #6d6e76;
  padding-bottom: 2rem;
  width: 31.25rem;
  margin: 0 auto;
}
.business h4 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.19rem;
  text-transform: uppercase;
  color: #232536;
}
.grid-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 8rem 0;
}

.card {
  display: flex;
  padding: 1rem 0;
}
.card-left {
  flex: 0.4;
}
.card-right {
  flex: 0.6;
  padding-left: 2rem;
}
.card-left img {
  width: 100%;
}
.card h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.19rem;
  text-transform: uppercase;
  color: #592ea9;
}
.card h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -2px;
  color: #232536;
}
.card p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #6d6e76;
}
.submit {
  display: flex;
  padding: 2rem;
  border: 1.5px solid #c1c1c3;
  margin-bottom: 1.6rem;
  transition: 0.3s;
}
.submit:hover {
  background-color: #ffd050;
  border: none;
}
.submit p {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.categories {
  padding: 1.6rem;
}
button {
  display: flex;
  align-items: center;
  padding: 1.8rem;
  border: 1px solid #c1c1c3;
}
button p {
  font-family: "Sen";
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
  color: #232536;
}
.categories h3 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 1.25rem;
}
.experience {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1.25rem;
}
.experience div {
  padding: 1rem 2.5rem;
  border: 2px solid gray;
  border-radius: 1.6rem;
}
.screen {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1.25rem;
}
.screen div {
  padding: 1rem 2.5rem;
  border: 2px solid gray;
  border-radius: 1.6rem;
}
.life {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1.25rem;
}
.life div {
  padding: 1rem 2.5rem;
  border: 2px solid gray;
  border-radius: 1.6rem;
}
@media (max-width: 786px) {
  .business {
    padding: 1.8rem;
  }
  .business h1 {
    font-size: 2rem;
  }
  .business p {
    width: 100%;
  }
  .grid-card {
    grid-template-columns: 1fr;
  }
}
